@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Local Database access has already been done</h1>
    <p>On April 14, 2023 by Ninghua Zhang</a>.</p>
</div>
